    body {
        margin: 0;
    }
    
    .imgBlock div {
        height: 300px;
        width: 100%;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
    }
